{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": 0,
        "react/prop-types": 0,
        "no-use-before-define": 0,
        "prefer-stateless-function": 0,
        "radix": ["error", "as-needed"],
        "react/prefer-stateless-function": 0
    }
}