{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": 0,
        "react/prop-types": 0,
        "no-use-before-define": 0,
        "react/prefer-stateless-function": 0,
        "radix": ["error", "as-needed"],
        "no-param-reassign": 0,
        "react/jsx-filename-extension": 0,
        "object-property-newline": 0,
        "no-mixed-operators": 0,
        "import/prefer-default-export": 0,
        "import/no-extraneous-dependencies": 0
    }
}